<div class="instance-details-panel panel panel-primary vertical-margin">
    <div class="panel-heading">
        @*<h3 class="panel-title">Custom Query Block</h3>*@
        <h2 class="about-header">Analyze -- Filter -- Verify -- Generate and Check on Charts & Graphs.</h2>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>Analysis Tab - </dt>
                <dd>
                    A detailed information about list of instances using PIE Charts & Bar Graphs on different technologies (SQL, Oracle, DB2).

                    <ol>
                        <li>
                            Count of instances based on Versions on different environments.
                        </li>
                        <li>
                            Count of instances based on Prod & Non-Prod.
                        </li>
                        <li>
                            Count of instances based on LSA.
                        </li>
                    </ol>
                </dd>
                <dt> Instance INFO Tab  - </dt>
                <dd>
                    This is for showing complete information (like Application Names, Version, LSA, Environment....) based on the instance which is mentioned in Search box.
                    Generally this will be useful for management to get information of an instance involved in Techcalls, etc..
                </dd>

                <dt>Search Tab - </dt>
                <dd>
                    It is used to filter inventory data of our servers and get the count in number, percentage (%), followed by Exporting the data from grid view to CSV on a button click.
                </dd>
            </dl>
        </div>

    </div>
</div>


