<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary vertical-margin">
            <div class="panel-heading">
                <h3 class="panel-title">Servers</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="custom-dropdown">
                            <select id="regionSelector"></select>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h4 class="text-center">Technology</h4>
                    <h1></h1>
                    <canvas id="TechDetailsCanvas-rg" width="400" height="400"></canvas>
                    <div id="tech-details-legend-rg" class="chart-legend"></div>
                </div>
                <div class="col-xs-4">
                    <h4 class="text-center">Environment</h4>
                    <h1></h1>
                    <canvas id="EnvDetailsCanvas-rg" width="400" height="400"></canvas>
                    <div id="env-details-legend-rg" class="chart-legend"></div>

                </div>
                <div class="col-xs-4">
                    <h4 class="text-center">LSA</h4>
                    <h1></h1>
                    <canvas id="LSADetailsCanvas-rg" width="400" height="400"></canvas>
                    <div id="lsa-details-legend-rg" class="chart-legend"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="serverAnalysisBlock vertical-margin">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Servers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <span class="custom-dropdown">
                        <select id="companiesSelector">                            
                        </select>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="col-xs-4 ">
                            <div class="col-xs-12 thumbnail">
                                <h4 class="text-center">Technology</h4>
                                <h1></h1>
                                <canvas id="serverTechDetailsCanvas-Byrnc" width="400" height="400"></canvas>
                                <div id="server-tech-details-legend-Byrnc" class="chart-legend vertical-margin align-legend-bottom"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 ">
                            <div class="col-xs-12 thumbnail">
                                <h4 class="text-center">Environment</h4>
                                <h1></h1>
                                <canvas id="serverEnvDetailsCanvas-Byrnc" width="400" height="400"></canvas>
                                <div id="server-env-details-legend-Byrnc" class="chart-legend vertical-margin align-legend-bottom"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="col-xs-12 thumbnail">
                                <h4 class="text-center">Server Type</h4>
                                <h1></h1>
                                <canvas id="serverTypeDetailsCanvas-Byrnc" width="400" height="400"></canvas>
                                <div id="server-type-details-legend-Byrnc" class="chart-legend vertical-margin align-legend-bottom"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <div class="col-xs-12 thumbnail">
                <h4 class="text-center">SQL Server Prod</h4>
                <h1></h1>
                <canvas id="prodSqlServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="sql-servers-prod-legend-Byrnc" class="chart-legend"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 thumbnail">
                <h4 class="text-center">SQL Server Non Prod</h4>
                <h1></h1>
                <canvas id="nonProdSqlServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="sql-servers-nonprod-legend-Byrnc" class="chart-legend"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="col-xs-12 thumbnail">
                <h4 class="text-center">DB2 Server Prod</h4>
                <h1></h1>
                <canvas id="prodDB2ServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="db2-servers-prod-legend" class="chart-legend"></div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 thumbnail">
                <h4 class="text-center">DB2 Server Non Prod</h4>
                <h1></h1>
                <canvas id="nonProdDB2ServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="db2-servers-nonprod-legend" class="chart-legend"></div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="col-xs-12 thumbnail">
                <h4 class="text-center">Oracle Server Prod</h4>
                <h1></h1>
                <canvas id="prodOracleServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="oracle-servers-prod-legend" class="chart-legend"></div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-xs-12 thumbnail">
                <h4 class="text-center">Oracle Server Non Prod</h4>
                <h1></h1>
                <canvas id="nonProdOracleServersCanvas-Byrnc" width="400" height="400"></canvas>
                <div id="oracle-servers-nonprod-legend" class="chart-legend"></div>

            </div>
        </div>
    </div>


</div>